* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}


.main {
    width: 100%;
    background: green;

    .parent {
        height: 700vh;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        background: black;
        .child {
            height: 100vh;
            width: 100%;
            position: sticky;
            left: 0;
            overflow: hidden;
            top: 0;

            .canvas {
                width: 100%;
                height: 100vh;
            }
        }
    }
}